@import "./base/reset";
@import "./base/colores";

@import "./components/mixins";
@import "./components/buttons";
@import "./components/header-body-footer";
@import "./components/inputs";
@import "./components/estiloseteable";

/*Tarjeta nuevo usuario*/

.nuevo_usuario {
    @include tarjetas;
    background: #fff;
    box-shadow: 10px 10px 10px #000;
    form {
        display: flex;
        flex-direction: column;
        gap: 20px;

       
    }
}

.usuario_guardado {
    padding: 30px;
    p {
        font-size: 2em;
        border-bottom: 2px solid $color-interaccion1;
        margin-bottom: 30px;
    }
    img {
        width: 50px;
        position: absolute;
        top: 10px;
        right: 50px;
    }
    button {
        position: absolute;
        right: 50px;
    }
}

.mascota {
    background: #fff;
    width: 20%;
    min-width: 250px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    p{
        font-size: 1.2em;
        margin: 10px;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}

.mascota_guardada {
    margin-left: 20px;
    width: 40%;
    min-width: 375px;
    height: 500px;
    background-color: #fff;
    background-image: url(../../asets/img/gato_mirando_arriba.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    ul {
        list-style: none;
        display: flex;
        gap: 50px;
        padding-left: 30px;
    }
}