@import "./base/reset";
@import "./base/colores";

@import "./components/mixins";
@import "./components/buttons";
@import "./components/header-body-footer";
@import "./components/inputs";
@import "./components/estiloseteable";

/*Tarjeta nuevo usuario*/

.nuevo_usuario {
    @include tarjetas;
    margin-top: 30px;
    background: #fff;
    box-shadow: 5px 5px 20px #000;

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;


    }
}

.usuario_guardado {
    padding: 30px;

    p {
        font-size: 2em;
        border-bottom: 2px solid $color-interaccion1;
        margin-bottom: 30px;
    }

    img {
        width: 50px;
        position: absolute;
        top: 10px;
        right: 50px;
    }

    button {
        position: absolute;
        right: 50px;
    }
}

.mascota {
    background: #fff;
    width: 20%;
    min-width: 250px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;

    p {
        font-size: 1.2em;
        margin: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}

.mascota_guardada {
    margin-left: 20px;
    width: 20%;
    min-width: 375px;
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: #f7b7b7;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;

    /*  div{
        width: 30%;
    } */
    ul {

        padding-left: 30px;

        li {
            margin: 10px;
        }
    }

    img {
        width: 150px;
        margin: 5px;
        border-radius: 50%;
    }
}

.productos {
    display: flex;
    justify-content: end;
    margin-top: 40px;
    padding: 40px;
    background: url(../asets/img/gato_mirando_arriba.png), linear-gradient(#f7dcc9, #f1bb98);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.productos_gato {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}

.producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    padding: 5px;
    background: #ffffffaa;
    border-radius: 10px;

    img {
        width: 100%;
        max-height: 240px;
    }

    h3 {
        text-align: center;
        margin-bottom: 10px;
        text-shadow: 3px 3px 10px #000;
    }

    .producto__descripcion {
        margin: 20px;
        font-weight: bold;
        font-style: italic;
    }

    .precio {
        margin: 20px;
        font-size: 1.2em;

        span {
            font-weight: bold;
        }
    }

    a {
        text-align: center;
        display: block;
        margin: 10px;
        padding: 10px;
        background-color: #fff;
        border-radius: 5px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: $color-interaccion1;
    }

    a:hover {
        background-color: #dcc6a1;
        outline: 1px solid $color-interaccion1;
    }
}

.producto:hover {
    outline: 1px solid #acacac;
}